<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37E7BBF220CE7C58009633F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37E7BC0620CE7C5D009633F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37E7BC1120CE7C5D009633F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
